.cardBody {
    border: 1px rgb(211, 235, 249) groove;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    box-shadow: 1px 1px 5px rgb(180, 195, 205);
    padding: 7px;
}
.mainContainer{ 
    display:flex;
  
}

.logo{
     width: 48px;
     height: 48px;
     padding: 5px;
}

.infoContainer {
    padding-left: 10px;
    width: 100%;
}

.mainTitle {
    font-weight: bold;
    font-size: large;
    color: #2972e3;
}

.postDate{
    color: #757f8f;
    text-align: end;
}